.link-button {
  border: 1px solid black;
  padding: 10px;
  transition: outline-width 0.1s ease;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  display: inline-block;
  border-radius: 5px; /* Set border radius */
}

.link-button:hover {
  outline: 2px solid black; /* Increase outline on hover */
}

.link-button.active {
  outline: 2px solid black; /* Set initial outline for active button */
}
